<form method="post" action="{{ path('tbl_horarios_delete', {'idhorario': tbl_horario.idhorario}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tbl_horario.idhorario) }}">
    <button class="btn">Delete</button>
</form>