{% extends 'base.html.twig' %}

{% block title %}New TblHorarios{% endblock %}

{% block body %}
    <h1>Create new TblHorarios</h1>

    {{ include('tbl_horarios/_form.html.twig') }}

    <a href="{{ path('tbl_horarios_index') }}">back to list</a>
{% endblock %}