.mai-sub-header {
   
    background-color: rgb(244, 244, 244);
    
}

a{
    color: #ff8300
}
.nav-link.hover, .nav-link:hover{
    color: #ff8300;
}
.mai-top-header{
    background: #ff8300;
}
.navbar-inverse .navbar-nav .nav-link{
    color: #fff;
}
.navbar-inverse .navbar-nav .nav-link:focus, .navbar-inverse .navbar-nav .nav-link:hover{
    color: #fff;
}
.mai-user-nav > .nav-item.dropdown > .nav-link{
    color: #fff;
}
.mai-sub-header{
    background: #f4f4f4;
}
.mai-sub-header .navbar-nav > .nav-item > .nav-link{
    color: #000;
}
.mai-sub-header .navbar-nav > .nav-item > .nav-link:hover{
    color: #000;
}
.mai-sub-header .navbar-nav > .nav-item.open > a, .mai-sub-header .navbar-nav > .nav-item.open:hover > a{
    color: #000;
}
.mai-nav-tabs-sub > .nav-item > .nav-link.active{
    color: #ff8300;
}
.mai-nav-tabs-sub > .nav-item.parent.show > .nav-link{
    color: #ff8300;
}


.nav-tabs-dashboard > nav-item {

background: #2cc185 !important;

}
.nav-tabs-dashboard > .nav-link.active {

    border-top: 7px solid red;
    color: red;
    padding: 20px 45px;
}
.itm-Dash {

    border-top: 2px solid red !important;
    border-color: blue;

}
/* .nav-tabs-dashb > .nav-item > .nav-link.active{
    color: #ff8300;
    border: 2px solid red !important;
} */


.cup{
    position: absolute;
    z-index: 999;
    right: 0;
    bottom: -70px;
}
.btn-orange{
    background-color: #ff8300;
    border-color: #ff8300;
    color: #fff;
}
.btn-orange:hover{
    color: #fff;
}
.btn-login{
    background-color: #d6d652;
    border-color: #d6d652;
    color: #000;
    cursor: pointer;
}
.panel-heading{
    position: relative;
}
.panel-heading .btn-panel{
    position: absolute;
    right: 0;
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translate(0,-50%);
    -moz-transform: translate(0,-50%);
    transform: translate(0,-50%);
}
.code{
    color: #ff8300;
    display: inline-block !important;
}
.no-wrap {
white-space: nowrap;

}
.text{
    color: #2cc185;
    display: inline-block !important;
}
.text-light, tr.text-light td {
	color: #a4a4a4;
}

.text-bold, td.text-bold {
	font-weight: bold !important;
}
.mai-user-nav > .nav-item.dropdown > .nav-link img{
    max-width: 45px;
    max-height: 45px;
    border-radius: 50%;
    border: 2px solid #fff;
}
.modal-main-icon.s7-check{
    width: 90px;
    height: 90px;
    line-height: 90px;
    text-align: center;
    border: 3px solid;
    border-radius: 50%;
}
.new-task-text{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    padding-left: 30px;
    color: #999;
}
.usage{
    padding: 0;
}
.usage-head{
    padding: 20px 20px 0;
}
.usage.usage-dark .usage-head-title{
    color: #fff;
    font-weight: 100;
}
.usage-header-subtitle{
    color: #b5b5b5;
}
.usage-header-subtitle span{
    color: #FFDC42;
}
.usage-head-title{
    font-weight: 100;
}
.mai-top-header .navbar-nav > .nav-item.dropdown .dropdown-menu{
    min-width: 195px;
}
.splash-container .user-message{
    background-color: #c3c4c6;
    padding: 25px 30px 40px;
    background-image: url(../img/bg-login.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.usage.usage-primary{
    background-color: #c3c4c6;
}
.splash-container .form-message{
    background-color: #9fd4c9;
}
.splash-container .input-group .form-control{
    color: #909090;
	padding: 0 10px ;
    background: #fff;

}
.btn_orange{
	background:#ff8302;
	color: #fff;
	border-width: 0px;

}
/*
	.splash-container .input-group .form-control::-webkit-input-placeholder{
    color: #424242;
	}
	.splash-container .input-group .form-control:-ms-input-placeholder{
    color: #424242;
	}
	.splash-container .input-group .form-control::-moz-placeholder{
    color: #424242;
	}
	.splash-container .input-group .form-control:-moz-placeholder{
    color: #424242;
	}
*/
.splash-container .input-group{
    border-bottom: 0px solid #FFF;
}
.splash-container .input-group .input-group-addon .icon{
    color: #afafaf;
}
.login-forgot-password a{
    color: #000;
}
.user-display-avatar{
    width: 150px;
    height: 150px;
}
.user-display-id{
    /* left: 50%; */
    text-align: center;
    margin-left: -90px;
	width: 100%;
}
.user-display-name {
	font-size: 1.808rem;
}
.user-display-id {}

.user-display-cover{
    height: 160px;
}
.user-display-bottom{
    padding-bottom: 100px;
}
.user-stats-indicator-counter{
    color:#ff8300;
    font-size: 14px;
}
.user-stats-more-details:hover{
    color: #ff8300;
}
.close{
    opacity: 1;
    font-size: 20px;
    font-weight: normal;
}
.close:hover{
    color: #ff8300;
    cursor: default;
    opacity: 1;
}
.custom-control-input:checked ~ .custom-control-indicator{
    border-color: #ff8300;
}
.custom-control-input:checked ~ .custom-control-indicator{
    color: #ff8300;
}

.ico-custom-dashboard {
	position: absolute;
	left: 0px;
	font-size: 24px;
	top: -7px;
	color: #ff8300;
	font-weight: bold;

}
.ico-25px {

	font-size: 25px;
	margin: 0;
	position: absolute;

}
a.custom-dashboard {
	color: inherit;
}
a.custom-dashboard:hover {
	text-decoration: none;
	color:#ff8300;
}
.ads-users {
	position:relative;
	padding:0;
	margin: 5px auto;
	width:85%;
	margin-bottom: 20px;
}

.table tbody tr td.milestone {
    min-width: 35px;
}
.tr-black {
	background-color: rgba(84, 84, 84, 0.10);
	color: #FFFFFF;

}
.tr-black > td {

	border-top: 1px solid #fcfcfc33;
	border-bottom:  1px solid #fcfcfc33;
	/*color: #949696;*/

}

th.checkAll:after, .checkAll:before, table.dataTable thead .checkAll::after {
    content: none !important;
    display: none;

 }
 .view-performance.without-after-element:after {
    content: none !important;
  }
table.table-report {
	width: 100%;
	border-collapse: inherit;
border-spacing: 4px;
}

table.table-report > thead > tr > th {
	color:#000;
	font-weight: normal;
	padding: 5px;
	border-bottom: 2px solid #c9c9c9;
}
table.table-report > tbody > tr  {
	/* border-bottom: 1px solid #ccc; */

}
table.table-report  > tbody > tr > td {
	/* background: #ccc;  */
	/* border-bottom: 1px solid #e9e9e9; */
	background: #f5f5f5;
	padding: 2px 5px;
}
table.results-year {
	width: 100%;
	border-collapse: inherit;
	border-spacing: 2px;
}
table.results-year > tr  {

}
tr.green-dark {
	background: #45da9e;
}
tr.green-light {
	background: #c1f9e3;
}
table.results-year > tbody >  tr > td {
	padding: 2px 5px;
}
.txt-black {
	color:#000 !important;

}
.txt-white {

	color:#fff;
}
.no-cursor {
	cursor: default !important;

}
.accordion .card-header a {
    display: block;
    font-size: 1.084rem;
    line-height: 1;
    padding: 1.192rem 1.038rem;
    color: #545454;
}
a.link-black:link, a.link-black:visited  {

	color:#555655;
}
a.link-black:hover {

	color:#2cc185;
}
.contentMetricas > .indicadores{
    display: none;
}
.indicadores {
    text-align: left;
}
.indicadores .percent{
    color: #a2a2a2;
}
.indicadores .bd-bottom{
    border-bottom: 1px solid #e6e6e6;
    padding: 10px 0;
}
.indicadores .bd-bottom label{
    margin-bottom: 0;
}
.modal-dialog{
    max-width: 600px;
}
.modal-content{
    max-width: 600px;
}
.panel-border-color-blue{
    border-top-color: #577cb7;
}
.panel-border-color-skyblue{
    border-top-color: #beddf4;
}
.panel-border-color-yellow{
    border-top-color: #ddd95c;
}
.panel-border-color-green{
    border-top-color: #007b71;
}
.panel-border-color-orange{
    border-top-color: #ff8300;
}
.item-data-list{
    border-bottom: 1px solid #e3e3e3;
    margin-bottom: 10px;
    padding-bottom: 5px;
}
.item-data-list span{
    color: #999999;
    font-size: 12px;
    line-height: 14px;
    display: block;
}
.item-data-list p{
    line-height: : 18px;
    margin: 0;
}
.item-data-list ul{
    padding-left: 26px;
    margin: 5px 0;
}
.header-data-list{
    line-height: 20px;
    font-size: 16px;
    font-weight: bold;
}
.list-qualification{
    list-style: none;
    padding-left: 0;
    margin: 0;
    margin-bottom: 40px;
}
.list-qualification ~ span{
    font-size: 12px;
}
.list-qualification li{
    position: relative;
    border-bottom: 1px solid #eaeaea;
    padding: 5px 10px;
    font-size: 14px;
}
.list-qualification li a{
    color: #848484;
    text-decoration: none;
}
.list-qualification li a:hover{
    color: #ff8300;;
    text-decoration: none;
}
.list-qualification .icon{
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    width: 50px;
}
.list-qualification .arrow{
    position: absolute;
    top: 5px;
    right: 10px;
    width: 50px;
}
.list-qualification span{
    font-size: 20px;
    position: absolute;
    right: 60px;
    top: 12px;
    color: #2cc185;
}
#table3 tbody tr td .progress{
    height: 6px;
    background-color: #e6e6e6;
    margin-bottom: 0;
}
#table3 tbody tr td .progress .progress-bar{
    height: 6px;
    border-radius: 0.25rem;
}
#table3 tbody tr td .npercent{
    display: block;
    font-size: 0.846154rem;
    color: #999999;
    margin-bottom: 2px;
    text-align: right;
}
#table-distributor tbody tr td .progress{
    height: 6px;
    background-color: #e6e6e6;
    margin-bottom: 0;
}
#table-distributor tbody tr td .progress .progress-bar{
    height: 6px;
    border-radius: 0.25rem;
}
#table-distributor tbody tr td .npercent{
    display: block;
    font-size: 0.846154rem;
    color: #999999;
    margin-bottom: 2px;
    text-align: right;
}

.see-detail{
    color: #545454;
    display: flex;
    width: 100%;
}
.see-detail:hover{
    color: inherit;
}
.see-detail p{
    display: flex;
    width: 100%;
    padding: 0 10px;
    align-items: center;
    justify-content: left;
    margin: 0;
}
.see-detail span{
    color: #545454;
}
@media (max-width: 767px) {
	.mai-sub-header .navbar-toggler { background:#000}
	.mai-sub-header .navbar-nav > .nav-item.open > a {
		color:#fff;

	}

	.mai-sub-header .navbar-nav > .nav-item.open:hover > a{

		color:#fff;
	}
	.cup{display: none;}

}
